/* style */

.panel{	
    margin-top: 15%;
}

.form-group{
    padding-left: 10%;
    padding-right: 10%;
}

.top{
    padding-top: 10%;
}

.bottom{
    padding-bottom: 5%;
}

.drop{
    padding-right: 10%;
}

